
    h1 {
     color:brown

    }
    * {
        border:solid 
    }
    .header{
        background-color:yellow;
        display:flex;
        justify-content: space-between;
    }
    .grid{
        display:flex;
        flex-direction: wrap;
        justify-content: space-evenly;
    }
    .footer{
        display:flex;
        justify-content: flex-end;
    }
p,h2{
    text-align: center;
}

